<p style="color: green"><%= notice %></p>

<%= render @category_invoice %>

<div>
  <%= link_to "Edit this category invoice", edit_category_invoice_path(@category_invoice) %> |
  <%= link_to "Back to category invoices", category_invoices_path %>

  <%= button_to "Destroy this category invoice", @category_invoice, method: :delete %>
</div>
