<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="image-upload d-flex mb-3 border-bottom border-2">
   <label for="file-input" class="d-flex align-items-center w-100 pb-3" id="image-upload">
      <%= render "shared/user_avatar" %>
      <span class="ms-4 text-muted image-upload-span">Upload picture</span>
   </label>
   <%= f.file_field :avatar, id:"file-input", class: 'd-none', skip_label: true%>
  </div>
  <%= f.text_field :name %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
  <%= f.password_field :password, autocomplete: "new-password", help: "Must be at least #{@minimum_password_length} characters long" if @minimum_password_length%>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  <%= f.password_field :current_password, autocomplete: "current-password", help: 'we need your current password to confirm your changes' %>

  <div class="mb-3 col-xs-12 col-md-3"><%= f.primary "Update" , extra_class: 'w-100'%></div>
<% end %>

<%= link_to "Back", :back %>
